<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BreakpadProduct</key>
	<string>Authenticator_iOS</string>
	<key>BuildMachineOSBuild</key>
	<string>23D60</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Authenticator</string>
	<key>CFBundleExecutable</key>
	<string>Authenticator</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>logo_authenticator_color60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>logo_authenticator_color</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>logo_authenticator_color60x60</string>
				<string>logo_authenticator_color76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>logo_authenticator_color</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.google.Authenticator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Authenticator</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.google.authenticator</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>otpauth</string>
				<string>totp</string>
				<string>googleauthenticator</string>
				<string>otpauth-migration</string>
				<string>com.google.sso.24369473785-pjevujkarsqb6cr46pe7pqni9068in8g</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4.2.1.9600</string>
	<key>DTAppStoreToolsBuild</key>
	<string>15F31e</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21E210</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>17.4</string>
	<key>DTSDKBuild</key>
	<string>21E210</string>
	<key>DTSDKName</key>
	<string>iphoneos17.4</string>
	<key>DTXcode</key>
	<string>1530</string>
	<key>DTXcodeBuild</key>
	<string>15E204a</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>14.0</string>
	<key>NSCameraUsageDescription</key>
	<string>Authenticator uses your camera to scan barcodes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Authenticator uses FaceID to make sure it is really you to keep your verification codes safe</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
