<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>17.2</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>CFBundleName</key>
    <string>SharePoint</string>
    <key>DTSDKName</key>
    <string>iphoneos17.2</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Please allow SharePoint access to your photo library in order to add photos and videos to sites</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>SharePointAppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>SharePointAppIcon</string>
      </dict>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>SharePoint</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>ms-splists-auth</string>
      <string>comgooglemaps</string>
      <string>comgooglemaps-intunemam</string>
      <string>onenote</string>
      <string>onenote-intunemam</string>
      <string>smsec</string>
      <string>lookoutwork-ase</string>
      <string>msauth</string>
      <string>skycure</string>
      <string>yammer</string>
      <string>yammer-intunemam</string>
      <string>lacoonsecurity</string>
      <string>msauthv2</string>
      <string>ms-word</string>
      <string>ms-word-intunemam</string>
      <string>ms-onedrive</string>
      <string>ms-onedrive-intunemam</string>
      <string>ms-sfb</string>
      <string>ms-sfb-intunemam</string>
      <string>wandera</string>
      <string>betteractiveshield</string>
      <string>msauthv3</string>
      <string>ms-powerpoint</string>
      <string>ms-powerpoint-intunemam</string>
      <string>zips</string>
      <string>ms-outlook</string>
      <string>ms-outlook-intunemam</string>
      <string>ms-outlook-groups</string>
      <string>ms-outlook-groups-intunemam</string>
      <string>smart-ns</string>
      <string>ms-excel</string>
      <string>ms-excel-intunemam</string>
      <string>ms-apps</string>
      <string>ms-apps-intunemam</string>
      <string>https-intunemam</string>
      <string>http-intunemam</string>
      <string>microsoft-edge-https-intunemam</string>
      <string>microsoft-edge-http-intunemam</string>
      <string>companyportal</string>
      <string>mvisionmobile</string>
    </array>
    <key>IntuneMAMSettings</key>
    <dict>
      <key>ADALClientId</key>
      <string>d326c1ce-6cc6-4de2-bebc-4591e5e13ef0</string>
      <key>AriaMaxTeardownUploadTimeInSec</key>
      <integer>4</integer>
      <key>AriaMinimumTraceLevel</key>
      <integer>4</integer>
      <key>ADALRedirectUri</key>
      <string>ms-sharepoint-auth://com.microsoft.sharepoint</string>
      <key>AriaIngestionKey</key>
      <string></string>
      <key>MultiIdentity</key>
      <true/>
      <key>AriaEnableAutoUserSession</key>
      <true/>
      <key>AppGroupIdentifiers</key>
      <array>
        <string>group.com.microsoft.shared</string>
        <string>group.com.microsoft.sharepoint</string>
      </array>
    </dict>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>processing</string>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>21C52</string>
    <key>NSCameraUsageDescription</key>
    <string>Please allow SharePoint access to your camera to take photos and record videos to add to sites</string>
    <key>CFBundleShortVersionString</key>
    <string>4.53.5</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>23H222</string>
    <key>DTPlatformBuild</key>
    <string>21C52</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.microsoft.sharepoint.appRefresh</string>
    </array>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTXcodeBuild</key>
    <string>15C500b</string>
    <key>CFBundleVersion</key>
    <string>20241117.01</string>
    <key>MinimumOSVersion</key>
    <string>15.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>SharePoint needs access to save photos and videos</string>
    <key>UIAppFonts</key>
    <array>
      <string>Office365Icons.ttf</string>
      <string>segoeui.ttf</string>
      <string>segoeuisl.ttf</string>
      <string>seguisb.ttf</string>
      <string>sfui-display-thin.otf</string>
      <string>sfui-text-light.otf</string>
      <string>sfui-text-regular.otf</string>
      <string>sfui-text-semibold.otf</string>
      <string>MDL2Font.ttf</string>
      <string>fabric-icons.ttf</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This lets you record videos with sound to add to sites</string>
    <key>Fabric</key>
    <dict>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitInfo</key>
          <dict/>
          <key>KitName</key>
          <string>Answers</string>
        </dict>
      </array>
      <key>APIKey</key>
      <string>cb93fcf550f8e1166f246e57f786ceea707847f5</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>com.microsoft.sharepoint</string>
    <key>DTXcode</key>
    <string>1520</string>
    <key>AppIdentifierPrefix</key>
    <string>SGGM6D27TK.</string>
    <key>CFBundleExecutable</key>
    <string>SharePoint</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>User Agent</key>
    <string>SharePoint for iOS</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>SharePointAppIcon60x60</string>
          <string>SharePointAppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>SharePointAppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Face ID is used to restrict unauthorized users from accessing the app</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.microsoft.sharepoint</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ms-sharepoint-auth</string>
          <string>ms-sharepoint-auth-intunemam</string>
          <string>ms-sharepoint</string>
          <string>ms-sharepoint-intunemam</string>
          <string>haf5e5465a012e49408ca52945251bf574</string>
          <string>haf5e5465a012e49408ca52945251bf574-intunemam</string>
        </array>
      </dict>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>16B39</string>
  </dict>
</plist>