<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>com.google.drive.shortcut.search</string>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeSearch</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>APPLICATION_SHORTCUT_SEARCH_TITLE</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>com.google.drive.shortcut.uploadphotos</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>system_icons/file_upload_48pt</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>APPLICATION_SHORTCUT_UPLOAD_PHOTOS_TITLE</string>
      </dict>
    </array>
    <key>BreakpadProduct</key>
    <string>Drive_iOS</string>
    <key>DTPlatformVersion</key>
    <string>17.4</string>
    <key>DTSDKBuild</key>
    <string>21E210</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>logo_drive_2020q4_color60x60</string>
          <string>logo_drive_2020q4_color76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>logo_drive_2020q4_color</string>
      </dict>
    </dict>
    <key>BreakpadProductDisplay</key>
    <string>Drive</string>
    <key>NSCameraUsageDescription</key>
    <string>Your photos and/or videos will be sent to Google servers so that they can be backed up to your Google Account</string>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>LSHasLocalizedDisplayName</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Drive</string>
    <key>UISupportedInterfaceOrientations~iphone</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Google Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.google.drive.document</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Google Spreadsheet</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.google.drive.spreadsheet</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Google Sheet</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.google.drive.ritz</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Google Presentation</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.google.drive.presentation</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Google Drawing</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.google.drive.drawing</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Google Map</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.google.drive.map</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Google Form</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.google.drive.form</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Google Site</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.google.drive.site</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
    </array>
    <key>DTXcodeBuild</key>
    <string>15E204a</string>
    <key>NSRemindersUsageDescription</key>
    <string>Your reminders will be sent to Google servers so that they can be backed up to your Google Account</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.google.drive.document</string>
        <key>UTTypeDescription</key>
        <string>Google Document</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>application/vnd.google-apps.document</string>
          <key>public.filename-extension</key>
          <string>gdoc</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.google.drive.spreadsheet</string>
        <key>UTTypeDescription</key>
        <string>Google Spreadsheet</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>application/vnd.google-apps.spreadsheet</string>
          <key>public.filename-extension</key>
          <string>gsheet</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.google.drive.ritz</string>
        <key>UTTypeDescription</key>
        <string>Google Sheet</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>application/vnd.google-apps.ritz</string>
          <key>public.filename-extension</key>
          <string>gsheet</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.google.drive.presentation</string>
        <key>UTTypeDescription</key>
        <string>Google Presentation</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>application/vnd.google-apps.presentation</string>
          <key>public.filename-extension</key>
          <string>gslides</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.google.drive.drawing</string>
        <key>UTTypeDescription</key>
        <string>Google Drawing</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>application/vnd.google-apps.drawing</string>
          <key>public.filename-extension</key>
          <string>gslides</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.google.drive.map</string>
        <key>UTTypeDescription</key>
        <string>Google Map</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>application/vnd.google-apps.map</string>
          <key>public.filename-extension</key>
          <string>gmap</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.google.drive.form</string>
        <key>UTTypeDescription</key>
        <string>Google Form</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>application/vnd.google-apps.form</string>
          <key>public.filename-extension</key>
          <string>gform</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.google.drive.site</string>
        <key>UTTypeDescription</key>
        <string>Google Site</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>application/vnd.google-apps.site</string>
          <key>public.filename-extension</key>
          <string>gsite</string>
        </dict>
      </dict>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.google.Drive</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>com.google.Drive.siri.search</string>
      <string>com.google.Drive.siri.view-file</string>
    </array>
    <key>CoreSpotlightContinuation</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>com.google.chat</string>
      <string>com.google.fit</string>
      <string>com.google.hangouts</string>
      <string>com.google.jam</string>
      <string>com.google.stella</string>
      <string>comgoogleearthgeo</string>
      <string>comgooglefamilylink</string>
      <string>comgooglekeep</string>
      <string>comgooglemaps</string>
      <string>creatorstudio</string>
      <string>gmeet</string>
      <string>googleapp</string>
      <string>googlebooks</string>
      <string>googlechrome</string>
      <string>googlechromes</string>
      <string>googleclassroom</string>
      <string>googledocs</string>
      <string>googledocs-v2</string>
      <string>googledrive</string>
      <string>googledrive-v3</string>
      <string>googlegmail</string>
      <string>googlehome</string>
      <string>googlenews</string>
      <string>googlephotos</string>
      <string>googlepodcasts</string>
      <string>googlesheets</string>
      <string>googlesheets-v2</string>
      <string>googleslides</string>
      <string>googleslides-v2</string>
      <string>googletasks</string>
      <string>googletranslate</string>
      <string>googlevoice</string>
      <string>http</string>
      <string>https</string>
      <string>mailto</string>
      <string>playmovies</string>
      <string>streetview</string>
      <string>vnd.google.calendar</string>
      <string>vnd.youtube</string>
      <string>vnd.youtube.kids</string>
      <string>vnd.youtube.music</string>
      <string>vnd.youtube.tv</string>
      <string>waze</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>logo_drive_2020q4_color60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>logo_drive_2020q4_color</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>15.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Required to take photos and record videos then save them to your photos library</string>
    <key>CFBundleName</key>
    <string>Drive</string>
    <key>CFBundleShortVersionString</key>
    <string>4.2449.11800</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>processing</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>ProductSans-Regular.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Drive</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>16B39</string>
    <key>BuildMachineOSBuild</key>
    <string>23F79</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Your events will be sent to Google servers so that they can be backed up to Google Calendar</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Drive uses microphone permissions to allow the user to record and upload videos</string>
    <key>CFBundleVersion</key>
    <string>4.2449.11800</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Drive uses Face ID to verify your identity</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.google.sso.640853332981</string>
          <string>com.google.drive.cse</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.google.Drive</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>googledrive</string>
          <string>googledrive-v1</string>
          <string>googledrive-v2</string>
          <string>googledrive-v3</string>
        </array>
      </dict>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.google.Drive.appRefresh</string>
      <string>com.google.notifications.bgtask.processing</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos17.4</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
    </dict>
    <key>NSContactsUsageDescription</key>
    <string>Your contacts will be sent to Google servers so that they can be backed up to Google Contacts</string>
    <key>DTPlatformBuild</key>
    <string>21E210</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Your photos or videos will be sent to Google servers so that they can be backed up to your Google Account</string>
    <key>GoogleProductName</key>
    <string>Drive</string>
    <key>DTXcode</key>
    <string>1530</string>
  </dict>
</plist>