<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.google.sso.1039733656850-2nfe3esd1tujdghpqr8adlu0cb7ar5vs</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.google.translate</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>googletranslate</string>
        </array>
      </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>17.5</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>com.google.Translate.siri.camera</string>
      <string>com.google.Translate.siri.conversation</string>
      <string>com.google.Translate.siri.transcribe</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos17.5</string>
    <key>CFBundleName</key>
    <string>Translate</string>
    <key>INAlternativeAppNames</key>
    <array>
      <dict>
        <key>INAlternativeAppName</key>
        <string>Translate</string>
      </dict>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Let Translate access your photos to translate text contained in them.</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>logo_translate_color60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>logo_translate_color</string>
      </dict>
    </dict>
    <key>DTAppStoreToolsBuild</key>
    <string>16C5031b</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Translate</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>com.google.chat</string>
      <string>com.google.fit</string>
      <string>com.google.hangouts</string>
      <string>com.google.jam</string>
      <string>com.google.stella</string>
      <string>comgoogleearthgeo</string>
      <string>comgooglefamilylink</string>
      <string>comgooglekeep</string>
      <string>comgooglemaps</string>
      <string>creatorstudio</string>
      <string>gmeet</string>
      <string>googleapp</string>
      <string>googlebooks</string>
      <string>googlechrome</string>
      <string>googlechromes</string>
      <string>googleclassroom</string>
      <string>googledocs</string>
      <string>googledrive</string>
      <string>googlegmail</string>
      <string>googlehome</string>
      <string>googlenews</string>
      <string>googlephotos</string>
      <string>googlepodcasts</string>
      <string>googlesheets</string>
      <string>googleslides</string>
      <string>googletasks</string>
      <string>googletranslate</string>
      <string>googlevoice</string>
      <string>http</string>
      <string>https</string>
      <string>mailto</string>
      <string>playmovies</string>
      <string>streetview</string>
      <string>vnd.google.calendar</string>
      <string>vnd.youtube</string>
      <string>vnd.youtube.kids</string>
      <string>vnd.youtube.music</string>
      <string>vnd.youtube.tv</string>
      <string>waze</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
    </array>
    <key>DTSDKBuild</key>
    <string>21F77</string>
    <key>NSCameraUsageDescription</key>
    <string>Let Translate use the camera to translate printed text.</string>
    <key>CFBundleShortVersionString</key>
    <string>8.23.536</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>23H124</string>
    <key>DTPlatformBuild</key>
    <string>21F77</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.google.Translate.Clearcut.backgroundFetch</string>
    </array>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleVersion</key>
    <string>8.23.536</string>
    <key>DTXcodeBuild</key>
    <string>15F31d</string>
    <key>MinimumOSVersion</key>
    <string>16.0</string>
    <key>UIAppFonts</key>
    <array>
      <string>GoogleSans-Regular.nohints.ttf</string>
      <string>GoogleSans-Medium.nohints.ttf</string>
      <string>GoogleSansDisplay-Regular.ttf</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>BrandedLaunch</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Let Translate use the microphone to translate speech.</string>
    <key>CFBundleIdentifier</key>
    <string>com.google.Translate</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <false/>
      <key>UISceneConfigurations</key>
      <dict>
        <key>UIWindowSceneSessionRoleApplication</key>
        <array>
          <dict>
            <key>UISceneClassName</key>
            <string>UIWindowScene</string>
            <key>UISceneDelegateClassName</key>
            <string>googlemac_iPhone_Translate_App_App.SceneDelegate</string>
            <key>UISceneConfigurationName</key>
            <string>Default</string>
          </dict>
        </array>
      </dict>
    </dict>
    <key>DTXcode</key>
    <string>1540</string>
    <key>NSCalendarsUsageDescription</key>
    <string>This allows you to easily create calendar events using Google Lens.</string>
    <key>CFBundleExecutable</key>
    <string>Translate</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>logo_translate_color60x60</string>
          <string>logo_translate_color76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>logo_translate_color</string>
      </dict>
    </dict>
    <key>BreakpadProduct</key>
    <string>Google_Translate_iOS</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>