<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20G165</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Okta Mobile</string>
	<key>CFBundleExecutable</key>
	<string>Okta Mobile</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.okta.ios.mobile</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Okta Mobile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.30.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.okta.ios.mobile.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>okta</string>
				<string>oktaSSO</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>28</string>
	<key>DTAppStoreToolsBuild</key>
	<string>13E114</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>19C51</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>15.2</string>
	<key>DTSDKBuild</key>
	<string>19C51</string>
	<key>DTSDKName</key>
	<string>iphoneos15.2</string>
	<key>DTXcode</key>
	<string>1321</string>
	<key>DTXcodeBuild</key>
	<string>13C100</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>oktav</string>
		<string>accellion</string>
		<string>accom.druva.insyncios</string>
		<string>accom.druva.insynciosmi</string>
		<string>accom.ibm.lotus.sametimemeetings</string>
		<string>accom.kronos.workforcemobileapp.ipad</string>
		<string>accom.kronos.workforcemobileapp</string>
		<string>acnet.luethi.ios.JIRAConnect</string>
		<string>acnet.luethi.ios.JIRAConnectProEnterprise</string>
		<string>acorns</string>
		<string>ADPApp</string>
		<string>ADPMobile</string>
		<string>ADX1285</string>
		<string>American</string>
		<string>AmericanAirlines</string>
		<string>Amtrak</string>
		<string>anyconnect</string>
		<string>anyperk</string>
		<string>app.clarizen</string>
		<string>AppDynamics</string>
		<string>arcgis-collector</string>
		<string>arcgis-explorer</string>
		<string>arcgis-navigator</string>
		<string>arcgis</string>
		<string>asana</string>
		<string>attaskiPad</string>
		<string>attaskiPhone</string>
		<string>awsmc</string>
		<string>bacon</string>
		<string>benefits</string>
		<string>bingads</string>
		<string>bitcoin</string>
		<string>bizx</string>
		<string>bjn</string>
		<string>box</string>
		<string>boxapp</string>
		<string>boxemm</string>
		<string>brainshark</string>
		<string>c4cex</string>
		<string>Chase</string>
		<string>chatter</string>
		<string>chromeriver</string>
		<string>ciscojabber</string>
		<string>CitiInViewClient</string>
		<string>citrixreceiver</string>
		<string>citrixreceiverx</string>
		<string>clariapp</string>
		<string>codipad360</string>
		<string>com.appDynamics.AppDynamics.watchkitapp</string>
		<string>com.bamboohr.bamboohrapp</string>
		<string>com.coinbase.oauth-authorize</string>
		<string>com.good.gd.discovery</string>
		<string>com.googleusercontent.apps.941646906755-d6u93grph5t13oi4p0i2da6ajf982r5h</string>
		<string>com.hannover-re.travelappprep.sc</string>
		<string>com.lookout</string>
		<string>com.mattermark.mattermark</string>
		<string>com.sap.cloud4custex</string>
		<string>com.spartasystems.trackwise</string>
		<string>com.trackvia</string>
		<string>com.tumblr.tumblr</string>
		<string>communitair</string>
		<string>concurmobile</string>
		<string>cornerstone</string>
		<string>cotap</string>
		<string>CrashPlan</string>
		<string>Dashboard</string>
		<string>db-6bjsudneoacfn64</string>
		<string>db-auth-emm</string>
		<string>db-auth</string>
		<string>db-deipvzsyqcvepi3</string>
		<string>db-kji10kmnkgg7euj</string>
		<string>docusignit</string>
		<string>E*TRADE</string>
		<string>echosign-open-v11</string>
		<string>egenciatripnav</string>
		<string>egnyte</string>
		<string>epoc</string>
		<string>etrade</string>
		<string>Events</string>
		<string>evernote</string>
		<string>excel</string>
		<string>expenseIt</string>
		<string>expenseit</string>
		<string>expensify</string>
		<string>facebook</string>
		<string>fb267470608481</string>
		<string>fb366785009883</string>
		<string>fb138651506184464</string>
		<string>fb162729813767876</string>
		<string>fb200264593417139</string>
		<string>fb312305205567652</string>
		<string>fb1500281320258314</string>
		<string>fb-workchat-api</string>
		<string>fb</string>
		<string>fbatwork</string>
		<string>fbatworklogin</string>
		<string>fbatworksignup</string>
		<string>fbatworksso</string>
		<string>fbauth2</string>
		<string>fuse</string>
		<string>fusiontap</string>
		<string>fuze</string>
		<string>galaxkeyregister</string>
		<string>gatherdigitalMOiD</string>
		<string>genesis</string>
		<string>globecloud</string>
		<string>gmovies</string>
		<string>googlecalendar</string>
		<string>googlechrome</string>
		<string>googledocs</string>
		<string>googledrive</string>
		<string>googlegmail</string>
		<string>googlephotos</string>
		<string>googlesheets</string>
		<string>googleslides</string>
		<string>gotomeeting</string>
		<string>GoToWebinar</string>
		<string>gservices</string>
		<string>gw45421</string>
		<string>health4me</string>
		<string>hello-okta</string>
		<string>hipchat</string>
		<string>ht-cloud</string>
		<string>hubbubapp</string>
		<string>huddle</string>
		<string>ibmscp</string>
		<string>igloomobile</string>
		<string>ilu</string>
		<string>imstrrbmprod</string>
		<string>incent</string>
		<string>indiegogo</string>
		<string>instacart</string>
		<string>inSync</string>
		<string>insyncios</string>
		<string>intralinks</string>
		<string>iOSLitmosApp</string>
		<string>ipass</string>
		<string>Jabber</string>
		<string>jet</string>
		<string>jira</string>
		<string>jiraconnect</string>
		<string>JIRAConnectProEnterprise</string>
		<string>jive-chime</string>
		<string>jive-circle</string>
		<string>jivecore</string>
		<string>jiveokta</string>
		<string>learncore</string>
		<string>lifesizecloud</string>
		<string>linkedin</string>
		<string>lync</string>
		<string>lynda.com</string>
		<string>maas360</string>
		<string>mash</string>
		<string>meraki</string>
		<string>mimecast</string>
		<string>mjtext</string>
		<string>mm-fundfire</string>
		<string>ms-onedrive</string>
		<string>ms-outlook-accepts-attachments-intunemam</string>
		<string>ms-outlook-accepts-attachments</string>
		<string>ms-outlook-intunemam</string>
		<string>ms-outlook</string>
		<string>ms-sharepoint</string>
		<string>msauth</string>
		<string>mstripad</string>
		<string>multivista</string>
		<string>muncheryapp</string>
		<string>mwcaction</string>
		<string>mydas</string>
		<string>myit</string>
		<string>netsuite</string>
		<string>newrelic</string>
		<string>nxzhbpg7g9fh</string>
		<string>ok-capdw5AAB7133D0964D1</string>
		<string>ok-capivgJFDOGMPFSCSVTM</string>
		<string>okta-notvalid</string>
		<string>okta</string>
		<string>OktaMDMAgent</string>
		<string>oktaSSO</string>
		<string>oktaverify</string>
		<string>onenote</string>
		<string>open-excel</string>
		<string>open-ppt</string>
		<string>open-word</string>
		<string>openair</string>
		<string>pagerduty</string>
		<string>pandora</string>
		<string>phdloseit</string>
		<string>pivotaltracker</string>
		<string>pon</string>
		<string>powerpoint</string>
		<string>printeron</string>
		<string>rcmobile</string>
		<string>replicongen3</string>
		<string>roambi</string>
		<string>rtm</string>
		<string>rwiphone</string>
		<string>sametime</string>
		<string>scotiabank</string>
		<string>servicenow</string>
		<string>servicenowpa</string>
		<string>sharefile</string>
		<string>Skrill</string>
		<string>skycure</string>
		<string>skype</string>
		<string>skytap</string>
		<string>slack</string>
		<string>smartsheet</string>
		<string>sod4ipad</string>
		<string>sodiphone</string>
		<string>splunk</string>
		<string>stmath</string>
		<string>storymaps</string>
		<string>stumbleupon</string>
		<string>su</string>
		<string>sugarcrm</string>
		<string>suitephone</string>
		<string>surveymonkey</string>
		<string>syncplicity</string>
		<string>tableau</string>
		<string>tallie</string>
		<string>targetprocess</string>
		<string>test</string>
		<string>trackwise</string>
		<string>trello</string>
		<string>tripadvisor</string>
		<string>TripAdvisor</string>
		<string>tripit</string>
		<string>tumblr</string>
		<string>tunein</string>
		<string>twitter</string>
		<string>uptodate</string>
		<string>veevaeu</string>
		<string>veevamedical</string>
		<string>veevardsummit</string>
		<string>virginpulseapp</string>
		<string>voyaretire</string>
		<string>watchkitapp</string>
		<string>wbx</string>
		<string>wkOpenApp.iqBoxy</string>
		<string>word</string>
		<string>Work</string>
		<string>workday+https</string>
		<string>workday+iPad+https</string>
		<string>www.com.wellpoint.consumer.ABCBS.com</string>
		<string>x-wagebase</string>
		<string>x-wheniwork</string>
		<string>Xactly Express</string>
		<string>xactly</string>
		<string>xactlyexpressapp</string>
		<string>xactlyincent</string>
		<string>yammer</string>
		<string>yammerapp</string>
		<string>zcmobile</string>
		<string>zendesk</string>
		<string>zinc</string>
		<string>zips</string>
		<string>zsa</string>
		<string>zsb</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>14.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>To upload or save media from your device to websites you have been assigend in Okta.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>To add calendar invites to your device calendar from websites you have been assigned in Okta.</string>
	<key>NSCameraUsageDescription</key>
	<string>To upload photos to web applications you have been assigned in Okta.</string>
	<key>NSContactsUsageDescription</key>
	<string>To save or share contact information from websites you have been assigned in Okta.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID for faster login to Okta Mobile.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To send your location to websites you have been assigned in Okta.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To send audio recordings to websites you have been assigned in Okta.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To download photos and videos to your camera roll.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload photos and videos to web applications you have been assigned in Okta.</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>AppCollectionStoryboard</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
