<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>DTPlatformVersion</key>
    <string>18.0</string>
    <key>ApplicationIdentifier</key>
    <string>T84QZS65DQ.com.facebook.atwork</string>
    <key>DTSDKBuild</key>
    <string>22A3362</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AtWork-Icon60x60</string>
          <string>AtWork-Icon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AtWork-Icon</string>
      </dict>
    </dict>
    <key>NSPrincipalClass</key>
    <string>FBApplication</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Workplace uses access to your camera so you can do things like take photos, record and stream videos.</string>
    <key>FBBuildBranchName</key>
    <string>dev</string>
    <key>CFBundleDisplayName</key>
    <string>Workplace</string>
    <key>FBBuildNumber</key>
    <integer>675197520</integer>
    <key>DTXcodeBuild</key>
    <string>16A242d</string>
    <key>FBKeychainAccessGroup</key>
    <string>T84QZS65DQ.platformFamily</string>
    <key>CFBundleIdentifier</key>
    <string>com.facebook.atwork</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fb</string>
      <string>fb-messenger</string>
      <string>instagram</string>
      <string>barcelona</string>
      <string>oculus</string>
      <string>whatsapp</string>
      <string>otpauth</string>
      <string>fb-pma</string>
      <string>fb-ama</string>
      <string>fb-workchat</string>
      <string>fb-workchat-group-thread</string>
      <string>fb-workchat-share</string>
      <string>fb-workchat-neue</string>
      <string>quip</string>
      <string>salesforce1</string>
      <string>googledocs</string>
      <string>googlesheets</string>
      <string>googledrive</string>
      <string>boxopendirect</string>
      <string>dbapi-2</string>
      <string>dbapi-8-emm</string>
      <string>ms-word</string>
      <string>ms-powerpoint</string>
      <string>ms-excel</string>
      <string>googlegmail</string>
      <string>ms-outlook</string>
      <string>ymail</string>
      <string>spotify</string>
      <string>soundcloud</string>
      <string>dhits</string>
      <string>comgooglemaps</string>
      <string>waze</string>
      <string>duo</string>
      <string>googleauthenticator</string>
      <string>http</string>
      <string>https</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AtWork-Icon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AtWork-Icon</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>FBBuildRevision</key>
    <string>0a597e0f22ec629afda0dc469770da744704cafe</string>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>FBBuck2</key>
    <true/>
    <key>CFBuildDate</key>
    <string>2024-12-17T23:06:53</string>
    <key>MinimumOSVersion</key>
    <string>15.1</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>FBJSBundleRoot</key>
    <string>EntryPoints/AtWorkBundle</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This lets you save snapshots to your camera roll.</string>
    <key>CFBundleName</key>
    <string>Workplace</string>
    <key>CFBundleShortVersionString</key>
    <string>494.0</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>FBBuildTime</key>
    <integer>1734476813</integer>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
      <string>audio</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>FBSearchAppSpecificConfig</key>
    <string>FBSearchAtWorkAppSpecificConfig</string>
    <key>UIAppFonts</key>
    <array>
      <string>FBIconFont.bundle/Facebook-Icons-Regular.otf</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>FBPlatformVersion</key>
    <string>494.0</string>
    <key>FBBuildRevisionTime</key>
    <string>1734475324.028800</string>
    <key>FBColorPalette</key>
    <string>FBAtWorkColorPalette</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>FBComposeAppSpecificConfig</key>
    <string>FBComposeAtWorkAppSpecificConfig</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>This enables sharing from your music library.</string>
    <key>CFBundleExecutable</key>
    <string>Workplace</string>
    <key>FacebookAppID</key>
    <string>234162453451062</string>
    <key>DTAppStoreToolsBuild</key>
    <string>16C5031b</string>
    <key>UIRequiresPersistentWiFi</key>
    <true/>
    <key>NSCalendarsUsageDescription</key>
    <string>This will let Workplace sync events you're hosting or attending to your calendar.</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Workplace uses your device’s microphone so you can do things like record sound when you make a video or voice recording, make video and voice calls, and create voice messages.</string>
    <key>UIViewGroupOpacity</key>
    <false/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Workplace uses location services so you can do things like find places near you and check in.</string>
    <key>CFBundleVersion</key>
    <string>675197520</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>FBAppVersion</key>
    <string>494.0.0.50.102</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Allow Workplace to use Face ID to unlock the app.</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.facebook.atwork</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fbatwork</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>FBAtWorkIsLoginThirdPartySSOScheme</key>
        <true/>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fbatworksso</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.facebook.atwork.sso</string>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.facebook.atwork.signup</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fbatworksignup</string>
        </array>
      </dict>
      <dict>
        <key>FBAtWorkIsLoginThirdPartySSOReauthScheme</key>
        <true/>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fbatworkssoreauth</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.facebook.atwork.ssoreauth</string>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.facebook.atwork.emailless</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb-work-emailless</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.facebook.atwork.deeplinkingenabled</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fbatworkdeeplinkingenabled</string>
        </array>
      </dict>
    </array>
    <key>SoftwareName</key>
    <string>Workplace</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Workplace uses location services so you can do things like find places near you and check in.</string>
    <key>DTSDKName</key>
    <string>iphoneos18.0</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>DTPlatformBuild</key>
    <string>22A3362</string>
    <key>NSContactsUsageDescription</key>
    <string>Allowing access to your address book helps you and others find coworkers and helps us provide a better service.</string>
    <key>DTXcode</key>
    <string>1600</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Workplace uses access to your Camera Roll so you can do things like share photos and videos.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
    </array>
  </dict>
</plist>