<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>WorkChatLaunchScreen</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Workplace Chat uses your device’s bluetooth so you can do things like connect accessories to make video or audio calls.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Workplace Chat uses your device's location information to help you share this information with a person or group in chat.</string>
    <key>DTPlatformVersion</key>
    <string>18.0</string>
    <key>ApplicationIdentifier</key>
    <string>T84QZS65DQ.com.facebook.workchat</string>
    <key>DTSDKBuild</key>
    <string>22A3362</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>Icon60x60</string>
          <string>Icon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>Icon</string>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>FBBuildBranchName</key>
    <string>dev</string>
    <key>NSCameraUsageDescription</key>
    <string>Workplace Chat uses your device’s camera so you can do things like take photos and videos, share photos and videos with your coworkers, and make video calls.</string>
    <key>CFBundleDisplayName</key>
    <string>Work Chat</string>
    <key>FBBuildNumber</key>
    <integer>672407742</integer>
    <key>DTXcodeBuild</key>
    <string>16A242d</string>
    <key>FBKeychainAccessGroup</key>
    <string>T84QZS65DQ.platformFamily</string>
    <key>CFBundleIdentifier</key>
    <string>com.facebook.workchat</string>
    <key>FBToolchain</key>
    <string>Experimental</string>
    <key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fb</string>
      <string>fb-messenger</string>
      <string>instagram</string>
      <string>barcelona</string>
      <string>oculus</string>
      <string>whatsapp</string>
      <string>otpauth</string>
      <string>fb-pma</string>
      <string>fb-ama</string>
      <string>fbatwork</string>
      <string>fbatworklogin</string>
      <string>quip</string>
      <string>salesforce1</string>
      <string>googledocs</string>
      <string>googlesheets</string>
      <string>googledrive</string>
      <string>boxopendirect</string>
      <string>dbapi-2</string>
      <string>dbapi-8-emm</string>
      <string>ms-word</string>
      <string>ms-powerpoint</string>
      <string>ms-excel</string>
      <string>fbatworkdeeplinkingenabled</string>
      <string>comgooglemaps</string>
      <string>waze</string>
      <string>duo</string>
      <string>googleauthenticator</string>
      <string>http</string>
      <string>https</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>Icon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>Icon</string>
      </dict>
    </dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>FBBuildRevision</key>
    <string>7cd013c729e2d0639dd96a02e2a692f5d44e74b1</string>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>FBBuck2</key>
    <true/>
    <key>CFBuildDate</key>
    <string>2024-12-09T09:10:10</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>15.1</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Workplace Chat uses your device’s bluetooth so you can do things like connect accessories to make video or audio calls.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Workplace Chat uses your device’s photo library from your camera roll so you can do things like update your profile picture, send images and videos, and include images or videos in your chats.</string>
    <key>CFBundleName</key>
    <string>WorkChat</string>
    <key>CFBundleShortVersionString</key>
    <string>493.0</string>
    <key>FBBuildTime</key>
    <integer>1733735410</integer>
    <key>UIAppFonts</key>
    <array>
      <string>Optimistic_DisplayVF_A_Wght.ttf</string>
      <string>Optimistic_TextVF_A_Wght.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>WorkChat</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>remote-notification</string>
      <string>voip</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>FBPlatformVersion</key>
    <string>493.0</string>
    <key>FBBuildRevisionTime</key>
    <string>1733733989.028800</string>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
      <key>DefaultUsageDescription</key>
      <string>Workplace Chat uses your device's location information to help you share this information with a person or group in chat.</string>
    </dict>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>FacebookAppID</key>
    <string>335385767409509</string>
    <key>NSLocationUsageDescription</key>
    <string>Workplace Chat uses your device's location information to help you share this information with a person or group in chat.</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Workplace Chat uses your device’s microphone so you can do things like record sound when you make a video or voice recording, make video and voice calls, and create voice messages.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Workplace Chat uses your device's location information to help you share this information with a person or group in chat.</string>
    <key>CFBundleVersion</key>
    <string>672407742</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>FBAppVersion</key>
    <string>493.0.0.43.215</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Workplace Chat uses your Face ID so you can unlock the app.</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>FBAtWorkIsLoginThirdPartySSOScheme</key>
        <true/>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb-workchat-sso</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.facebook.workchat.sso</string>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb-workchat-neue</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb-workchat</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb-workchat-share</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb-workchat-group-thread</string>
        </array>
      </dict>
      <dict>
        <key>FBAtWorkIsLoginThirdPartySSOReauthScheme</key>
        <true/>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb-workchat-sso-reauth</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.facebook.workchat.ssoreauth</string>
      </dict>
    </array>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Workplace Chat uses your device's location information to help you share this information with a person or group in chat.</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.facebook.workchat.bgrefresh</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos18.0</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>l.facebook.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
        <key>h.facebook.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
        <key>l.instagram.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
        <key>lm.facebook.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
        <key>od.fbinfra.net</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <true/>
    </dict>
    <key>DTPlatformBuild</key>
    <string>22A3362</string>
    <key>DTXcode</key>
    <string>1600</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Workplace Chat uses your device’s photo library from your camera roll so you can do things like update your profile picture, send images and videos, and include images or videos in your chats.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>16C5031b</string>
  </dict>
</plist>