<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>quick_actions_new_todo</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>QuickActionsNewToDo</string>
        <key>UIApplicationShortcutItemType</key>
        <string>com.microsoft.to-do.NewToDo</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>quick_actions_my_day</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>QuickActionsMyDay</string>
        <key>UIApplicationShortcutItemType</key>
        <string>com.microsoft.to-do.MyDay</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>quick_actions_search</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>QuickActionsSearch</string>
        <key>UIApplicationShortcutItemType</key>
        <string>com.microsoft.to-do.Search</string>
      </dict>
    </array>
    <key>DTPlatformVersion</key>
    <string>17.0</string>
    <key>DTSDKBuild</key>
    <string>21A326</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>WLCoreGitHash</key>
    <string></string>
    <key>AppIdentifierPrefix</key>
    <string>SGGM6D27TK.</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>To-Do-AppStore60x60</string>
          <string>To-Do-AppStore76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>To-Do-AppStore</string>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>The app needs access to your camera in order to upload photos directly</string>
    <key>CFBundleDisplayName</key>
    <string>To Do</string>
    <key>IntuneMAMSettings</key>
    <dict>
      <key>MultiIdentity</key>
      <false/>
      <key>ADALClientId</key>
      <string>22098786-6e16-43cc-a27d-191a01a1e3b5</string>
      <key>ADALLogOverrideDisabled</key>
      <true/>
      <key>AppGroupIdentifiers</key>
      <array>
        <string>group.com.microsoft.to-do</string>
      </array>
      <key>ADALRedirectScheme</key>
      <string>x-msauth-to-do</string>
    </dict>
    <key>DTXcodeBuild</key>
    <string>15A507</string>
    <key>CFBundleIdentifier</key>
    <string>com.microsoft.to-do</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>com.microsoft.to-do.current-activity</string>
      <string>WLAddTaskIntent</string>
      <string>WLChooseListForAddTaskIntent</string>
      <string>WLChooseListForMyDayIntent</string>
      <string>WLChooseListIntent</string>
      <string>WLShowListIntent</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>scmx</string>
      <string>smsec</string>
      <string>microsoft-edge-http</string>
      <string>microsoft-edge-http-intunemam</string>
      <string>lookoutwork-ase</string>
      <string>msauth</string>
      <string>skycure</string>
      <string>mvisionmobile</string>
      <string>companyportal</string>
      <string>lacoonsecurity</string>
      <string>intunemam-mtd</string>
      <string>wunderlist-0c672b04-b164-44e0-ab97-3628eba4ece4</string>
      <string>wunderlist-0c672b04-b164-44e0-ab97-3628eba4ece4-intunemam</string>
      <string>msauthv2</string>
      <string>wandera</string>
      <string>betteractiveshield</string>
      <string>msauthv3</string>
      <string>microsoft-edge-https</string>
      <string>microsoft-edge-https-intunemam</string>
      <string>zips</string>
      <string>ms-outlook</string>
      <string>ms-outlook-intunemam</string>
      <string>smart-ns</string>
      <string>https-intunemam</string>
      <string>http-intunemam</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>To-Do-AppStore60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>To-Do-AppStore</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>15.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>The app needs access to your photo library in order to save photos</string>
    <key>CFBundleName</key>
    <string>To Do</string>
    <key>CFBundleShortVersionString</key>
    <string>2.137</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>processing</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>wundercon-bold.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>To Do</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Allow transcription of voice</string>
    <key>DTAppStoreToolsBuild</key>
    <string>16C5031b</string>
    <key>BuildMachineOSBuild</key>
    <string>22H221</string>
    <key>AppCenterIdentifier</key>
    <string>b68c88db-8559-4b85-a9b0-2515bdb21632</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>The app needs access to your microphone in order to upload videos directly</string>
    <key>GitHash</key>
    <string></string>
    <key>CFBundleVersion</key>
    <string>241212.0634</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>NSFaceIDUsageDescription</key>
    <string>This app needs your permission to use Face ID for your work or school account</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.microsoft.to-do.launch</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ms-to-do</string>
          <string>ms-to-do-intunemam</string>
          <string>ms-to-do-9e011cd5-d6c6-4a93-9d7e-d5d0b60c1225</string>
          <string>ms-to-do-9e011cd5-d6c6-4a93-9d7e-d5d0b60c1225-intunemam</string>
          <string>appcenter-b68c88db-8559-4b85-a9b0-2515bdb21632</string>
          <string>appcenter-b68c88db-8559-4b85-a9b0-2515bdb21632-intunemam</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.microsoft.to-do.broker.auth</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>x-msauth-to-do</string>
          <string>x-msauth-to-do-intunemam</string>
          <string>msauth.com.microsoft.intunemam</string>
          <string>msauth.com.microsoft.intunemam-intunemam</string>
        </array>
      </dict>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.microsoft.to-do.bgAppRefreshTask</string>
      <string>com.microsoft.to-do.bgProcessingTask</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos17.0</string>
    <key>UISupportedExternalAccessoryProtocols</key>
    <array/>
    <key>DTPlatformBuild</key>
    <string>21A326</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The app needs access to your photo library in order to upload photos directly</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTXcode</key>
    <string>1501</string>
  </dict>
</plist>