<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>17.5</string>
    <key>NSUserActivityTypes</key>
    <dict>
      <key>openUrl</key>
      <string>org.mozilla.ios.Klar.openUrl</string>
      <key>eraseAndOpen</key>
      <string>org.mozilla.ios.Klar.eraseAndOpen</string>
    </dict>
    <key>CFBundleName</key>
    <string>Firefox Focus</string>
    <key>DTSDKName</key>
    <string>iphoneos17.5</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>googlechromes</string>
      <string>googlechrome</string>
      <string>firefox</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Websites you visit may request your location.</string>
    <key>NimbusStagingServerURL</key>
    <string></string>
    <key>DTSDKBuild</key>
    <string>21F77</string>
    <key>NSCameraUsageDescription</key>
    <string>This lets you take and upload photos.</string>
    <key>CFBundleShortVersionString</key>
    <string>133.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NimbusAppName</key>
    <string></string>
    <key>BuildMachineOSBuild</key>
    <string>23B92</string>
    <key>DTPlatformBuild</key>
    <string>21F77</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>15F31d</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>MinimumOSVersion</key>
    <string>15.0</string>
    <key>CFBundleVersion</key>
    <string>47732</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This lets you save and upload photos.</string>
    <key>SentryDSN</key>
    <string>https://a016ca5727e3437fba2540a35b1972c8@sentry-fm.prod.mozaws.net/56</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This lets you take and upload videos.</string>
    <key>CFBundleIdentifier</key>
    <string>org.mozilla.ios.Focus</string>
    <key>DTXcode</key>
    <string>1540</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>UIApplicationShortcutItemTitle.EraseAndOpen</string>
        <key>UIApplicationShortcutItemType</key>
        <string>org.mozilla.ios.Focus.EraseAndOpen</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>erase_quick_action</string>
      </dict>
    </array>
    <key>NimbusAppChannel</key>
    <string></string>
    <key>CFBundleExecutable</key>
    <string>Firefox Focus</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NimbusServerURL</key>
    <string></string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>NSFaceIDUsageDescription</key>
    <string>This lets you unlock the app.</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>org.mozilla.ios.Focus</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>firefox-focus</string>
          <string>http</string>
          <string>https</string>
        </array>
      </dict>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>16B39</string>
  </dict>
</plist>