<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>17.0</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>DTSDKName</key>
    <string>iphoneos17.0</string>
    <key>CFBundleName</key>
    <string>Microsoft Authenticator</string>
    <key>UTImportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.microsoft.azureauthenticator.did.import</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
          <string>public.content</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>jwt</string>
          </array>
        </dict>
      </dict>
    </array>
    <key>UIMainStoryboardFile~ipad</key>
    <string>Storyboard</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This application never requests access to the user's photo library. The app has access only to screenshots that the user chooses to upload when reporting an issue or sending feedback.</string>
    <key>DTAppStoreToolsBuild</key>
    <string>16B39</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Your company requires you to share your location to access sensitive data.​ Always allow access to avoid future prompts.</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Authenticator</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>msauth</string>
      <string>msauthv2</string>
      <string>msauthv3</string>
      <string>googlechrome</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your company requires you to share your location to access sensitive data.​ Always allow access to avoid future prompts.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>processing</string>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>21A326</string>
    <key>NSCameraUsageDescription</key>
    <string>May be needed to scan QR code to add a new account</string>
    <key>CFBundleShortVersionString</key>
    <string>6.8.20</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>22H221</string>
    <key>DTPlatformBuild</key>
    <string>21A326</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.microsoft.identity-broker.operation.refresh</string>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>MinimumOSVersion</key>
    <string>15.0</string>
    <key>CFBundleVersion</key>
    <string>5</string>
    <key>DTXcodeBuild</key>
    <string>15A507</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This application never requests access to the user's photo library. The app has access only to screenshots that the user chooses to upload when reporting an issue or sending feedback.</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>Storyboard</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This application only requests for microphone permissions when performing voice authentication</string>
    <key>CFBundleIdentifier</key>
    <string>com.microsoft.azureauthenticator</string>
    <key>DTXcode</key>
    <string>1501</string>
    <key>CFBundleExecutable</key>
    <string>Microsoft Authenticator</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <true/>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Face ID will be used to authenticate your identity with Microsoft services.</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>UIMainStoryboardFile</key>
    <string>Storyboard</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.microsoft.azureauthenticator</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>brooklyn-extension</string>
          <string>msauth</string>
          <string>ms-log-azureauthenticator</string>
          <string>microsoft-authenticator</string>
          <string>otpauth</string>
          <string>msauthv2</string>
          <string>msauthv3</string>
          <string>openid</string>
          <string>openid-vc</string>
          <string>vcclient</string>
          <string>msa-devicekey-share</string>
          <string>mspasskey</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>