<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreenV2</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This helps us find your pinned reports in space</string>
    <key>DTPlatformVersion</key>
    <string>18.0</string>
    <key>ONUpdateAppDevice</key>
    <string>iOS</string>
    <key>DTSDKBuild</key>
    <string>22A3362</string>
    <key>NFCReaderUsageDescription</key>
    <string>Read NFC</string>
    <key>AppIdentifierPrefix</key>
    <string>SGGM6D27TK.</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>darkAppIcon</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>darkAppIcon</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <string>NO</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
        <key>UIPrerenderedIcon</key>
        <false/>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleBlackTranslucent</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>This lets you scan QR codes and barcodes, and enable augmented reality</string>
    <key>AppCenterAppDelegateForwarderEnabled</key>
    <integer>0</integer>
    <key>CFBundleDisplayName</key>
    <string>Power BI</string>
    <key>IntuneMAMSettings</key>
    <dict>
      <key>ADALRedirectUri</key>
      <string>mspbi://com.microsoft.powerbimobile</string>
      <key>EnableOneAuth</key>
      <true/>
      <key>MaxFileProtectionLevel</key>
      <string>NSFileProtectionCompleteUntilFirstUserAuthentication</string>
      <key>ADALClientId</key>
      <string>c0d2a505-13b8-4ae0-aa9e-cddd5eab0b12</string>
      <key>AppGroupIdentifiers</key>
      <array>
        <string>group.com.microsoft.powerbimobile</string>
        <string>group.com.microsoft.shared</string>
        <string>group.com.microsoft.powerbimobile.notificationservice</string>
      </array>
      <key>FinishLaunchingAtStartup</key>
      <true/>
    </dict>
    <key>DTXcodeBuild</key>
    <string>16A242d</string>
    <key>CFBundleIdentifier</key>
    <string>com.microsoft.powerbimobile</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>scmx</string>
      <string>smsec</string>
      <string>microsoft-edge-http</string>
      <string>microsoft-edge-http-intunemam</string>
      <string>msauth</string>
      <string>prefs</string>
      <string>prefs-intunemam</string>
      <string>lookoutwork-ase</string>
      <string>skycure</string>
      <string>mvisionmobile</string>
      <string>companyportal</string>
      <string>lacoonsecurity</string>
      <string>msauthv2</string>
      <string>wandera</string>
      <string>betteractiveshield</string>
      <string>msauthv3</string>
      <string>microsoft-edge-https</string>
      <string>microsoft-edge-https-intunemam</string>
      <string>zips</string>
      <string>ms-excel</string>
      <string>ms-excel-intunemam</string>
      <string>ms-outlook</string>
      <string>ms-outlook-intunemam</string>
      <string>whatsapp</string>
      <string>whatsapp-intunemam</string>
      <string>smart-ns</string>
      <string>https-intunemam</string>
      <string>http-intunemam</string>
      <string>intunemam-mtd</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>darkAppIcon</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>darkAppIcon</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <string>NO</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
        <key>UIPrerenderedIcon</key>
        <false/>
      </dict>
    </dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UIMainStoryboardFile</key>
    <string>StoryboardNavigatorRootStoryboard</string>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>16.4</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>This helps us find your pinned reports in space</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>To save this, we need access to your photo library.</string>
    <key>CFBundleName</key>
    <string>Power BI</string>
    <key>CFBundleShortVersionString</key>
    <string>33.0</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIAppFonts</key>
    <array>
      <string>SF-Compact-Text-Semibold.otf</string>
      <string>SF-Pro-Text-Bold.otf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Power BI</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
      <key>ARUsageDescription</key>
      <string>We really need this!</string>
    </dict>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>ONUpdateAppId</key>
    <string>PowerBI</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Speech Recognition enables you to interact with your Power BI data using voice commands.</string>
    <key>BuildMachineOSBuild</key>
    <string>24C101</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow Power BI to access your microphone to enable speech recognition</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your location will be used in Power BI services such as filtering data.</string>
    <key>CFBundleVersion</key>
    <string>1.2.241219.2122776</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Power BI uses Face ID to restrict unauthorized users from accessing the app.</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>powerbi.com</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>msauth.com.microsoft.powerbimobile</string>
          <string>msauth.com.microsoft.powerbimobile-intunemam</string>
          <string>mspbi-adal</string>
          <string>mspbi-adal-intunemam</string>
          <string>mspbi</string>
          <string>mspbi-intunemam</string>
          <string>appcenter-8a4085da-4b14-4f6e-8003-a30570c45b5e</string>
          <string>appcenter-8a4085da-4b14-4f6e-8003-a30570c45b5e-intunemam</string>
          <string>msauth.com.microsoft.intunemam</string>
          <string>msauth.com.microsoft.intunemam-intunemam</string>
        </array>
      </dict>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.microsoft.powerbimobile.BGAppRefresh.refresh</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos18.0</string>
    <key>ONUpdateApiToken</key>
    <string>2c913b53-e43c-4715-87fb-92044e84bd06</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>DTPlatformBuild</key>
    <string>22A3362</string>
    <key>UIMainStoryboardFile~ipad</key>
    <string>StoryboardNavigatorRootStoryboard</string>
    <key>DTXcode</key>
    <string>1600</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>16C5031b</string>
  </dict>
</plist>