<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>18.0</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>CFBundleName</key>
    <string>Authy</string>
    <key>DTSDKName</key>
    <string>iphoneos18.0</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Access to your photos is required to process QR codes</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDarkContent</string>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>CFBundleDisplayName</key>
    <string>Authy</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>whatsapp</string>
      <string>fb</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>processing</string>
    </array>
    <key>DTSDKBuild</key>
    <string>22A3362</string>
    <key>NSCameraUsageDescription</key>
    <string>Access to your camera is required to scan QR codes</string>
    <key>CFBundleShortVersionString</key>
    <string>26.2.2</string>
    <key>App Group</key>
    <string>group.authy.128FD4</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>23F79</string>
    <key>DTPlatformBuild</key>
    <string>22A3362</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.authy</string>
    </array>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTXcodeBuild</key>
    <string>16A242d</string>
    <key>CFBundleVersion</key>
    <string>20241016.2</string>
    <key>MinimumOSVersion</key>
    <string>15.0</string>
    <key>UIAppFonts</key>
    <array>
      <string>Inter-Black.ttf</string>
      <string>Inter-Bold.ttf</string>
      <string>Inter-ExtraBold.ttf</string>
      <string>Inter-ExtraLight.ttf</string>
      <string>Inter-Light.ttf</string>
      <string>Inter-Medium.ttf</string>
      <string>Inter-Regular.ttf</string>
      <string>Inter-SemiBold.ttf</string>
      <string>Inter-Thin.ttf</string>
    </array>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>FacebookAppID</key>
    <string>478660785554616</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSMainNibFile</key>
    <string>MainWindow</string>
    <key>Fabric</key>
    <dict>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitInfo</key>
          <dict/>
          <key>KitName</key>
          <string>Crashlytics</string>
        </dict>
      </array>
      <key>APIKey</key>
      <string>8ce988f5bb55c89e65e23eb9cdd16c6cb01948b6</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>com.authy</string>
    <key>FacebookDisplayName</key>
    <string>Authy</string>
    <key>DTXcode</key>
    <string>1600</string>
    <key>CFBundleExecutable</key>
    <string>Authy</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>s3.amazonaws.com</key>
        <dict>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSTemporaryExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.0</string>
        </dict>
        <key>amazonaws.com</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionMinimumTLSVersion</key>
          <string>TLSv1.0</string>
        </dict>
        <key>amazonaws.com.cn</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionMinimumTLSVersion</key>
          <string>TLSv1.0</string>
        </dict>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>NSFaceIDUsageDescription</key>
    <string>Access to Face ID is required to unlock the app</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string></string>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.authy</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>authy</string>
          <string>fb478660785554616</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>otpauth</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>otpauth</string>
        </array>
      </dict>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>16A242d</string>
  </dict>
</plist>