<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>IDS_APP_SHORTCUT_SEARCH_TITLE</string>
        <key>UIApplicationShortcutItemType</key>
        <string>SearchAction</string>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeSearch</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemIconSymbolName</key>
        <string>gamecontroller</string>
        <key>UIApplicationShortcutItemType</key>
        <string>PlayGameAction</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>IDS_APP_SHORTCUT_PLAY_GAME_TITLE</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>IDS_APP_SHORTCUT_PRIVATE_MODE_TITLE</string>
        <key>UIApplicationShortcutItemType</key>
        <string>PrivateModeAction</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>privateGlyph24</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>DeletionFeedbackAction</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>IDS_APP_SHORTCUT_UNINSTALL_SURVEY_TITLE</string>
        <key>UIApplicationShortcutItemIconSymbolName</key>
        <string>trash</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string>IDS_APP_SHORTCUT_UNINSTALL_SURVEY_SUBTITLE</string>
      </dict>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>DTPlatformVersion</key>
    <string>17.4</string>
    <key>DTSDKBuild</key>
    <string>21E210</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>AppIcon9</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon9</string>
        </dict>
        <key>AppIcon19</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon19</string>
        </dict>
        <key>AppIcon16</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon16</string>
        </dict>
        <key>AppIcon4</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon4</string>
        </dict>
        <key>AppIcon10</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon10</string>
        </dict>
        <key>AppIcon17</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon17</string>
        </dict>
        <key>AppIcon6</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon6</string>
        </dict>
        <key>AppIcon14</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon14</string>
        </dict>
        <key>AppIcon20</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon20</string>
        </dict>
        <key>AppIcon1</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon1</string>
        </dict>
        <key>AppIcon11</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon11</string>
        </dict>
        <key>AppIcon7</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon7</string>
        </dict>
        <key>AppIcon18</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon18</string>
        </dict>
        <key>AppIcon2</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon2</string>
        </dict>
        <key>AppIcon15</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon15</string>
        </dict>
        <key>AppIcon8</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon8</string>
        </dict>
        <key>AppIcon12</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon12</string>
        </dict>
        <key>AppIcon3</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon3</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon1360x60</string>
          <string>AppIcon1376x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon13</string>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>This lets you take and upload photos and scan QR codes.</string>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
    <key>CFBundleDisplayName</key>
    <string>Opera GX</string>
    <key>FirebaseDeepLinkPasteboardRetrievalEnabled</key>
    <false/>
    <key>DTXcodeBuildDistribution</key>
    <string>14B47b</string>
    <key>DTXcodeBuild</key>
    <string>15E204a</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIconFiles</key>
        <array/>
        <key>UTTypeIdentifier</key>
        <string>com.opera.gx.backup</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>com.apple.package</string>
          <string>public.composite-content</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Opera GX data backup</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>gxmbackup</string>
          </array>
        </dict>
      </dict>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.opera.gx</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>ConfigurationIntent</string>
    </array>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>whatsapp</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>AppIcon9</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon9</string>
        </dict>
        <key>AppIcon19</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon19</string>
        </dict>
        <key>AppIcon16</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon16</string>
        </dict>
        <key>AppIcon4</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon4</string>
        </dict>
        <key>AppIcon10</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon10</string>
        </dict>
        <key>AppIcon17</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon17</string>
        </dict>
        <key>AppIcon6</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon6</string>
        </dict>
        <key>AppIcon14</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon14</string>
        </dict>
        <key>AppIcon20</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon20</string>
        </dict>
        <key>AppIcon1</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon1</string>
        </dict>
        <key>AppIcon11</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon11</string>
        </dict>
        <key>AppIcon7</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon7</string>
        </dict>
        <key>AppIcon18</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon18</string>
        </dict>
        <key>AppIcon2</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon2</string>
        </dict>
        <key>AppIcon15</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon15</string>
        </dict>
        <key>AppIcon8</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon8</string>
        </dict>
        <key>AppIcon12</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon12</string>
        </dict>
        <key>AppIcon3</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon3</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon1360x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon13</string>
      </dict>
    </dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>GoogleUtilitiesAppDelegateProxyEnabled</key>
    <false/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>16.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This lets you save photos.</string>
    <key>CFBundleName</key>
    <string>OperaGX</string>
    <key>CFBundleShortVersionString</key>
    <string>2.6.2</string>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>UIAppFonts</key>
    <array>
      <string>UNDERWAVE.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>OperaGX</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>processing</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>TargetName</key>
    <string>OperaGX</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This lets you perform voice search.</string>
    <key>BuildMachineOSBuild</key>
    <string>24B2083</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This is required for Voice Search and by some websites.</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Websites might want to access your location.</string>
    <key>CFBundleVersion</key>
    <string>2412</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en-US</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>NSFaceIDUsageDescription</key>
    <string>This is required for protecting your data.</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.opera.gx</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>http</string>
          <string>https</string>
          <string>opera-gx</string>
          <string>opera-gx-stickers</string>
        </array>
      </dict>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.opera.gx.extensions-update</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos17.4</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>DTPlatformBuild</key>
    <string>21E210</string>
    <key>DTXcode</key>
    <string>1530</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>16C5031b</string>
  </dict>
</plist>